name: FX
on:
  schedule:
    - cron: '5 1 * * *'

jobs:
  build:
    name: Oanda tickers
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python and install deps
        uses: ./.github/actions/setup-python-deps
        with:
          python-version: '3.11'
          requirements-file: 'requirements.txt'

      - run: python3 forex/oanda.py > forex/oanda_all_pairs.txt
      - run: python3 forex/oanda.py -t cfd > forex/oanda_cfd_pairs.txt
      - run: python3 forex/oanda.py -t currency > forex/oanda_fx_pairs.txt
      - run: python3 forex/oanda.py -t metal > forex/oanda_metal_pairs.txt

      - name: Commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add forex/
          git diff-index --quiet HEAD || git commit -m "Oanda: automatic update" -a
          git pull --rebase && git push
