name: Manual Full Test
on:
  workflow_dispatch: {}

jobs:
  full-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python and install deps
        uses: ./.github/actions/setup-python-deps
        with:
          python-version: '3.11'
          requirements-file: 'requirements.txt'

      - name: Run Binance scripts
        run: |
          python3 binance/pairs.py -m -q BTC> binance/binance_BTC_margin.txt
          python3 binance/pairs.py -m -q USDT> binance/binance_USDT_margin.txt
          python3 binance/pairs.py -m -q ETH> binance/binance_ETH_margin.txt
          python3 binance/pairs.py -m -q BNB> binance/binance_BNB_margin.txt
          python3 binance/pairs.py -m > binance/binance_margin_pairs.txt
          python3 binance/pairs.py -q BTC > binance/binance_BTC_pairs.txt
          python3 binance/pairs.py -q USDT > binance/binance_USDT_pairs.txt
          python3 binance/pairs.py -q ETH > binance/binance_ETH_pairs.txt
          python3 binance/pairs.py -q BNB > binance/binance_BNB_pairs.txt
          python3 binance/pairs.py > binance/binance_all_pairs.txt
          python3 binance/pairs.py -f > binance/binance_futures.txt

      - name: Run Bybit
        run: |
          python3 bybit/pairs.py > bybit/bybit_futures.txt
          python3 bybit/pairs.py -q USD > bybit/bybit_USD_futures.txt
          python3 bybit/pairs.py -q USDT > bybit/bybit_USDT_futures.txt

      - name: Run Bitfinex
        run: |
          python3 bitfinex/pairs.py -m -q BTC> bitfinex/bitfinex_BTC_margin.txt
          python3 bitfinex/pairs.py -m -q USD> bitfinex/bitfinex_USD_margin.txt
          python3 bitfinex/pairs.py -m > bitfinex/bitfinex_margin_pairs.txt
          python3 bitfinex/pairs.py -q BTC > bitfinex/bitfinex_BTC_pairs.txt
          python3 bitfinex/pairs.py -q USD > bitfinex/bitfinex_USD_pairs.txt
          python3 bitfinex/pairs.py > bitfinex/bitfinex_all_pairs.txt

      - name: Run Huobi
        run: |
          python3 huobi/pairs.py -q BTC > huobi/huobi_BTC_pairs.txt
          python3 huobi/pairs.py -q USDT > huobi/huobi_USDT_pairs.txt
          python3 huobi/pairs.py -q ETH > huobi/huobi_ETH_pairs.txt
          python3 huobi/pairs.py > huobi/huobi_all_pairs.txt

      - name: Run KuCoin
        run: |
          python3 kucoin/pairs.py -q BTC > kucoin/kucoin_BTC_pairs.txt
          python3 kucoin/pairs.py -q USDT > kucoin/kucoin_USDT_pairs.txt
          python3 kucoin/pairs.py -q ETH > kucoin/kucoin_ETH_pairs.txt
          python3 kucoin/pairs.py > kucoin/kucoin_all_pairs.txt

      - name: Run Oanda (Forex)
        run: |
          python3 forex/oanda.py > forex/oanda_all_pairs.txt
          python3 forex/oanda.py -t cfd > forex/oanda_cfd_pairs.txt
          python3 forex/oanda.py -t currency > forex/oanda_fx_pairs.txt
          python3 forex/oanda.py -t metal > forex/oanda_metal_pairs.txt

      - name: Run Stocks (Nasdaqtrader)
        run: |
          python3 stocks/nasdaqtrader.py -nyse | sort > stocks/NYSE_pairs.txt
          python3 stocks/nasdaqtrader.py --nasdaq | sort > stocks/NASDAQ_pairs.txt
          python3 stocks/nasdaqtrader.py -arca | sort > stocks/ARCA_pairs.txt

      - name: Commit updated files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git diff-index --quiet HEAD || git commit -m "Manual test: automatic update" -a
          git pull --rebase && git push
